In [20]:

d={
    "Name":"Adan",
    "Age":29,
    "information":True
}
print(d.values())

dict_values(['Adan', 29, True])

In [26]:
for number in range(5):
    print(number)

0
1
2
3
4

In [29]:
for key in d:
    print(d[key])

Adan
29
True

In [30]:
for letters in "Adan":
    print(letters)

A
d
a
n

In [40]:
my_dict = {
"one": "one",
"two": "two",
"three": "3"
}
for x in my_dict:
    print(x,my_dict[x])

one one
two two
three 3

In [71]:
for i in range(51):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [88]:

even_squares= [even_squares**2 for even_squares in range(12)
    
    if even_squares%2==0
    ]
print(even_squares)

[0, 4, 16, 36, 64, 100]

In [87]:
odd_squares = [odd_squares**2 for odd_squares in range (12) if odd_squares%2==1]
print(odd_squares)

[1, 9, 25, 49, 81, 121]